/* ---------- GENERAL SETUP ---------- */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #f5f5dc;
}

/* ---------- SIDEBAR ---------- */
.sidebar-container {
    background-color: #aaaa63;
    min-height: 100vh;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 30px;
}

.section {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar-container .profile-container .section {
    font-size: 2rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options-container button {
    background: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5rem;
}

.options-container button:hover {
    background-color: #8b8b4f;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

#search-bar {
    border: none;
    border-radius: 15px;
    padding: 10px;

}