/* ---------- GENERAL SETUP ---------- */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #f5f5dc;
}

/* ---------- SIDEBAR ---------- */
.sidebar-container {
    background-color: #aaaa63;
    min-height: 100vh;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px;
}

.section {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar-container .profile-container .section {
    font-size: 2rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options-container button {
    background: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5rem;
}

.options-container button:hover {
    background-color: #8b8b4f;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

#search-bar {
    border: none;
    border-radius: 15px;
    padding: 10px;

}

/* ---------- MAIN SECTION TITLE ---------- */
.main-page-container {
    padding: 2rem;
}

.main-page-container {
    display: grid;
    grid-template-rows: 0.5fr 5.5fr;
}

.main-page-container h1 {
    font-size: 3rem;
    color: #333;
    justify-self: center;
    align-self: center;
}
/* ---------- MAIN SECTION ---------- */
/* ----- Project Form ----- */
.main-page-container {
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    justify-self: center;

    padding: 2rem;
    background-color: #596997;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 40%;
    left: 50%;
    gap: 1rem;
}

.form-container input {
    padding: 0.5rem;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.save-btn {
    width: fit-content;
    margin-top: 1rem;
    background-color: rgb(0, 255, 21);
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cancel-btn {
    align-self: center;

    width: 150px;
    margin-top: 1rem;
    background-color: red;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.projects {
    background-color: rgb(131, 119, 68);
    border-radius: 30px;
}

/* ----- Project ----- */
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: #596997;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
}

.project-container .title-section {
    position: relative;

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-container .delete-btn{
    position: absolute;  
    right: 0; 

    width: fit-content;
    background-color: red;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.project-container .add-task-btn{
    width: fit-content;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    
}

.project-container .add-task-input {
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
}

/* ----- Task ----- */
.tasks-form-container {
    display: flex;

    padding: 1rem;
    width: 96%;
    border-radius: 15px;
    background-color: aqua;
}


